/WS2/shop/shop/target/
/WS2/ws_shop_skel/target/
/Demo2/hateoas/hateoas/target/
/Demo2/jqueryangular/target/
/Demo2/rest_oauth/target/
/Demo2/rest_auth/target/
/Demo2/rest_frontend/target/
/Demo2/rest_backend/target/
/WS3/jsf_shop_skel/target/
/Demo3/jsf_primefaces/target/
/Demo3/component_based/target/
/Demo3/jsf_request_cycle/target/
/WS4/jpa_shop_skel/target/